<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div style="text-align:center" class="container">


<h1 style="text-align:center">ANGULAR APP!</h1>
<!-- <button class="btn btn-lg btn-danger marg" (click)="createTask()">Test Create</button> -->
<!-- ADD TASKS -->
<div class="border">
    <form (submit)="createTask()">
      <h3>Add Task</h3>
      <p>Title: <input type="text" name="newTask.title" [(ngModel)]="newTask.title" /></p>
      <p>Description: <input type="text" name="newTask.description" [(ngModel)]="newTask.description" /></p>
      <p><input class="btn btn-primary" type="submit" value="Create Task" /></p>
    </form>
  </div>
    <hr>

    <!-- PREVIEW CREATING TASKS -->
  <div *ngIf="newTask['title'] || newTask['description']" class="border">
      <h3>Preview Task</h3>
      <p style="color:red;">Your Title: {{ newTask["title"] }}</p>
      <p style="color:red;">Your Description: {{ newTask["description"] }}</p>
  </div>

  <!-- SHOW ALL TASKS -->
  <h1>All Tasks: </h1>
  <div *ngFor="let task of tasks" style="border: solid #ff5100;">
    <ul style="list-style-type: none;">
      <li> Task Title: {{ task.title }} </li>
      <li> Task Description: {{ task.description }}</li>
      <li> Created at: {{ task.created_at }}</li>
      <li>Actions: <p><button class="btn btn-primary marg" (click)="getOneTask(task._id)">Edit</button> <button class="btn btn-danger" (click)="deleteTask(task._id)">Delete</button></p></li>
    </ul>
  </div>

  <!-- SHOW PREVIEW OF Edit TASK -->
  <form *ngIf="showTask['_id']" (submit)="updateTask(showTask['_id'])">
      <hr>
      <h3>Update Task</h3>
      <p>Title: <input type="text" value="{{showTask.title}}" name="showTask.title" [(ngModel)]="showTask.title" /></p>
      <p>Description: <input type="text" value="{{showTask.description}}" name="showTask.description" [(ngModel)]="showTask.description" /></p>
      <p><input class="btn btn-primary marg" type="submit" value="Update Task" /> <button class="btn btn-secondary" (click)="cancelEdit()">Cancel</button></p>
      <hr>
  </form>
</div>

<br>
<br>

<router-outlet></router-outlet>
