<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
  
<h1 style="text-align:center">ANGULAR APP!</h1>

<h1>All Tasks: </h1>
<div style="border: solid #ff5100;" *ngFor="let task of tasks">
  <ul style="list-style-type: none;">
    <li> Task Title: {{ task.title }} </li>
    <li> Task Description: {{ task.description }}</li>
    <li> Created at: {{ task.created_at }}</li>
    <li> Actions: <p><button class="btn btn-primary marg" (click)="getOneTask(task._id)">Show</button><button class="btn btn-primary marg" (click)="updateTask(task._id)">Edit</button> <button class="btn btn-danger marg" (click)="deleteTask(task._id)">Delete</button></p></li>
  </ul>
</div>



<router-outlet></router-outlet>
